<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://ornasite.files.wordpress.com/2015/11/lago-di-braies-blog-10.jpg"
                alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT05iIqNJbst9HkfwK50wiakvg-2BvnscIylXj8ZvaZBUqMOoMQ"
                alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                src="https://cn.opendesktop.org/img/b/2/d/5/cfd19f550736133723633e53ba0b05def2e4.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>